body {
  background-color: #E0EBF5;
}

button {
  background-color: #375EAB;
  color: white;
  border: none;
  padding: 10px 32px;
}

.header{
  width: 100%;
  text-align: center;
  background-color: #375EAB;
  color: white;
}

.Content {
  padding: 10px;
  padding-left: 0px;
}

.leftContent {
  /*width: 20%;*/
  float: left;
  margin-right: 50px;
}

.rightContent {
  /*width: 80%;*/
}

.mainpart {
	display: flex;
	justify-content: center;
	align-items: center;
}

#icon {
  height: 120px;
}
