<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/index.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>dropf</h1>
			</div>

			<div class="mainpart">
				<div class="Content leftContent">
					<img id="icon" src="/static/images/dropf.png">
				</div>

				<div class="Content rightContent">

					<b>Drop your files</b>
					<br/>

					<div class="login">
						<form method="post" action="/login">
							<label for="name">Username:</label>
							<input type="text" id="name" name="name">
							</br>
							<label for="password">Password:</label>
							<input type="password" id="password" name="password">
							</br>
							</br>
							<button type="submit">Login</button>
						</form>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
